<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- 
  See https://github.com/nlog/nlog/wiki/Configuration-file 
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <!-- add your targets here -->

    <target name="MainLogTarget" xsi:type="File" layout="${longdate} ${message}" fileName="${basedir}/logs/main.log" keepFileOpen="false" encoding="UTF-8" />
    <target name="ConsoleTarget" xsi:type="ColoredConsole" layout="${longdate} ${message} ${onexception:inner=${newline}|${exception:innerFormat=Message,Type,Method,StackTrace:maxInnerExceptionLevel=5:format=ToString}}" />

  </targets>

  <rules>
    <!-- add your logging rules here -->
    <logger name="MainLog" minlevel="Debug" writeTo="MainLogTarget" />

  </rules>
</nlog>